@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Calculate the cost of a call.
            </p>
        </div>
    </section>
}
<h3>Result:</h3>
<ol class="round">
    <li class="one">
        <h5>None yet</h5>
        ..</li>
</ol>
